name: Build and Deploy Streamlit Container to Azure

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Azure Login
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}



      - name: Log in to Azure Container Registry
        run: |
          az acr login --name coolpizzawinter

      - name: Build Docker image
        run: |
          docker build -t coolpizzawinter.azurecr.io/streamlit-app:latest .

      - name: Push Docker image
        run: |
          docker push coolpizzawinter.azurecr.io/streamlit-app:latest

      - name: Deploy to Azure Web App for Containers
        uses: azure/webapps-deploy@v3
        with:
          app-name: streamlit-pr
          images: coolpizzawinter.azurecr.io/streamlit-app:latest

