name: Build and Deploy Streamlit Container to Azure

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      - name: Log in to ACR
        run: |
          az acr login --name coolpizzawinter

      - name: Build Docker image
        run: |
          docker build -t coolpizzawinter.azurecr.io/streamlit-app:latest .

      - name: Push Docker image
        run: |
          docker push coolpizzawinter.azurecr.io/streamlit-app:latest

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: streamlit-pr
          images: coolpizzawinter.azurecr.io/streamlit-app:latest
